//Nexa fonts
@font-face{
	font-family:'Nexa-bold';
    font-style:normal;
    font-weight:400;
    src:url(../fonts/Nexa/NexaBold.otf);
}

@font-face{
	font-family:'Nexa-light';
    font-style:normal;
    font-weight:400;
    src:url(../fonts/Nexa/NexaLight.otf);
}

@font-face{
    font-family:'Nexa-regula';
    font-style:normal;
    font-weight:600;
    src:url(../fonts/Nexa/NexaLight.otf);
}
//ArialMT font
@font-face{
	font-family:'ArialMT';
    font-style:normal;
    font-weight:400;
    src:url(../fonts/ArialMT/ArialMTRegular.ttf);
}
