//color
	$col_1:#f26c4f;//розовий
	
	//color-text
	$col_2:#ffffff;//білий
	$col_5:#4f4f4f;//сірий(текст)
	$col_6:#adadad;//grey(arrows)
	//hover $col_2
	$col_3:#d5d5d5;

	$col_4:#8f8f8f;//сірий на темносірому фоні

	//color-background
	$col_bg_1:#ebebeb;//сірий
	$col_bg_2:#373737;
	$col_bg_3:#474747;//світло-чорний

	$col_bg_5:#efefef;//grey box1-footer
	//hover $col_bg_2
	$col_bg_4:#535353;



	//borders
	$col_hr_1:#767676;
	
	//size
	$size-1:25px;


//fonts
	//font-family
	$font_1:'ArialMT',arial, sans-serif;
	$font_2l:'Nexa-light',arial, sans-serif;
	$font_2b:'Nexa-bold',arial, sans-serif;
	$font_2r:'Nexa-regula',arial, sans-serif;